/*
 * JWButton.css - Fancy but simple buttons
 * Created by James C. Wise
 * MIT Lisence
 */
.JWButton{
	margin-top:0.4em;
	border:none;
	padding:1em;
	background-color:#EEEEEE;
	color:#222222;
	user-select:none;
	margin-bottom:0.4em;
	transition:box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.JWButton:not(.JWButton-Nwidth){width:100%;}
.JWButton:focus{outline:none;}
.JWButton:hover{box-shadow:-8px 8px 2px rgba(63,63,63,0.3);}
.JWButton.JWButton-Red, .JWButton.JWButton-Hover-Red:hover               {background-color:#FF0000; color:#FFFFFF;}
.JWButton.JWButton-Orange, .JWButton.JWButton-Hover-Orange:hover         {background-color:#FFA500; color:#FFFFFF;}
.JWButton.JWButton-Yellow, .JWButton.JWButton-Hover-Yellow:hover         {background-color:#FFFF00; color:#000000;}
.JWButton.JWButton-Green, .JWButton.JWButton-Hover-Green:hover           {background-color:#008000; color:#FFFFFF;}
.JWButton.JWButton-Blue, .JWButton.JWButton-Hover-Blue:hover             {background-color:#0000FF; color:#FFFFFF;}
.JWButton.JWButton-Indigo, .JWButton.JWButton-Hover-Indigo:hover         {background-color:#4B0082; color:#FFFFFF;}
.JWButton.JWButton-Violet, .JWButton.JWButton-Hover-Violet:hover         {background-color:#EE82EE; color:#000000;}
.JWButton.JWButton-Purple, .JWButton.JWButton-Hover-Purple:hover         {background-color:#800080; color:#FFFFFF;}
.JWButton.JWButton-Brown, .JWButton.JWButton-Hover-Brown:hover           {background-color:#A52A2A; color:#FFFFFF;}

.JWButton.JWButton-Black, .JWButton.JWButton-Hover-Black:hover           {background-color:#000000; color:#FFFFFF;}
.JWButton.JWButton-Dark-Grey, .JWButton.JWButton-Hover-Dark-Grey:hover   {background-color:#505050; color:#FFFFFF;}
.JWButton.JWButton-Grey, .JWButton.JWButton-Hover-Grey:hover             {background-color:#808080; color:#FFFFFF;}
.JWButton.JWButton-Light-Grey, .JWButton.JWButton-Hover-Light-Grey:hover {background-color:#D0D0D0; color:#000000;}
.JWButton.JWButton-Dark-Gray, .JWButton.JWButton-Hover-Dark-Gray:hover   {background-color:#505050; color:#FFFFFF;}
.JWButton.JWButton-Gray, .JWButton.JWButton-Hover-Gray:hover             {background-color:#808080; color:#FFFFFF;}
.JWButton.JWButton-Light-Gray, .JWButton.JWButton-Hover-Light-Gray:hover {background-color:#D0D0D0; color:#000000;}
.JWButton.JWButton-White, .JWButton.JWButton-Hover-White:hover           {background-color:#FFFFFF; color:#000000;}

.JWButton.JWButton-Red:not(.JWButton-Nactive):active                     {background-color:#BF0000;}
.JWButton.JWButton-Hover-Red:not(.JWButton-Nactive):hover:active         {background-color:#BF0000 !important;}
.JWButton.JWButton-Orange:not(.JWButton-Nactive):active                  {background-color:#BF7B00;}
.JWButton.JWButton-Hover-Orange:not(.JWButton-Nactive):hover:active      {background-color:#BF7B00 !important;}
.JWButton.JWButton-Yellow:not(.JWButton-Nactive):active                  {background-color:#BFBF00;}
.JWButton.JWButton-Hover-Yellow:not(.JWButton-Nactive):hover:active      {background-color:#BFBF00 !important;}
.JWButton.JWButton-Green:not(.JWButton-Nactive):active                   {background-color:#006000;}
.JWButton.JWButton-Hover-Green:not(.JWButton-Nactive):hover:active       {background-color:#006000 !important;}
.JWButton.JWButton-Blue:not(.JWButton-Nactive):active                    {background-color:#0000BF;}
.JWButton.JWButton-Hover-Blue:not(.JWButton-Nactive):hover:active        {background-color:#0000BF !important;}
.JWButton.JWButton-Indigo:not(.JWButton-Nactive):active                  {background-color:#6400AD;}
.JWButton.JWButton-Hover-Indigo:not(.JWButton-Nactive):hover:active      {background-color:#6400AD !important;}
.JWButton.JWButton-Violet:not(.JWButton-Nactive):active                  {background-color:#B261B2;}
.JWButton.JWButton-Hover-Violet:not(.JWButton-Nactive):hover:active      {background-color:#B261B2 !important;}
.JWButton.JWButton-Purple:not(.JWButton-Nactive):active                  {background-color:#600060;}
.JWButton.JWButton-Hover-Purple:not(.JWButton-Nactive):hover:active      {background-color:#600060 !important;}
.JWButton.JWButton-Brown:not(.JWButton-Nactive):active                   {background-color:#7B1F1F;}
.JWButton.JWButton-Hover-Brown:not(.JWButton-Nactive):hover:active       {background-color:#7B1F1F !important;}

.JWButton.JWButton-Black:not(.JWButton-Nactive):active                   {background-color:#000000;}
.JWButton.JWButton-Hover-Black:not(.JWButton-Nactive):hover:active       {background-color:#000000 !important;}
.JWButton.JWButton-Dark-Grey:not(.JWButton-Nactive):active               {background-color:#6A6A6A;}
.JWButton.JWButton-Hover-Dark-Grey:not(.JWButton-Nactive):hover:active   {background-color:#6A6A6A !important;}
.JWButton.JWButton-Grey:not(.JWButton-Nactive):active                    {background-color:#606060;}
.JWButton.JWButton-Hover-Grey:not(.JWButton-Nactive):hover:active        {background-color:#606060 !important;}
.JWButton.JWButton-Light-Grey:not(.JWButton-Nactive):active              {background-color:#9C9C9C;}
.JWButton.JWButton-Hover-Light-Grey:not(.JWButton-Nactive):hover:active  {background-color:#9C9C9C !important;}
.JWButton.JWButton-Dark-Gray:not(.JWButton-Nactive):active               {background-color:#6A6A6A;}
.JWButton.JWButton-Hover-Dark-Gray:not(.JWButton-Nactive):hover:active   {background-color:#6A6A6A !important;}
.JWButton.JWButton-Gray:not(.JWButton-Nactive):active                    {background-color:#606060;}
.JWButton.JWButton-Hover-Gray:not(.JWButton-Nactive):hover:active        {background-color:#606060 !important;}
.JWButton.JWButton-Light-Gray:not(.JWButton-Nactive):active              {background-color:#9C9C9C;}
.JWButton.JWButton-Hover-Light-Gray:not(.JWButton-Nactive):hover:active  {background-color:#9C9C9C !important;}
.JWButton.JWButton-White:not(.JWButton-Nactive):active                   {background-color:#BFBFBF;}
.JWButton.JWButton-Hover-White:not(.JWButton-Nactive):hover:active       {background-color:#BFBFBF !important;}